* {
    color: white;
}

body {
    background-color: #1a1a1a;
    font-family: arial;
}

.navbar {
    background-color: #4169A8 !important;
}

.navbar-brand {
    color: black !important;
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-link:hover {
    opacity: 0.8;
}

.navbar-nav .nav-link.active {
    color: black !important;
}

.btn-primary {
    background-color: #4169A8 !important;
    border: none !important;
}

.btn-primary:hover {
    background-color: #325CAA !important;
}

.uslugi-icon {
    background-color: #4169A8;
}

.uslugi-icon img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}

.footer {
    background-color: #4169A8;
}

